/src/Lasten.Console/.idea
/src/Lasten.Console/Lasten.Console/obj
/src/Lasten/Lasten.Console/obj
/src/Lasten/Lasten.Domain/obj
/src/Lasten/.idea
/src/Lasten/Lasten.Console/bin
/src/Lasten/Lasten.Domain/bin
/src/Lasten/Lasten.Infrastructure/bin
/src/Lasten/Lasten.Infrastructure/obj
src/Lasten/Lasten.sln.DotSettings.user
/src/Lasten.Console/bin
/src/.idea
/src/Lasten.Console/obj
/src/Lasten.Domain/obj
/src/Lasten.Infrastructure/bin
/src/Lasten.Infrastructure/obj
/src/Lasten.Domain/bin
src/Lasten.sln.DotSettings.user
